:root {
  --font-size: 16px; /* Tamaño de fuente por defecto */
  --paragraph-font-size: 16px; /* Tamaño de fuente de los párrafos */
  --text-color: #000000;
  --font-family: "Roboto", sans-serif;
  --background-color: white;
}

* {
  font-family: var(--font-family);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

.containerContent {
  min-height: calc(100vh - 90px - 30px);
}

.title {
  font-size: var(--font-size);
  color: var(--text-color);
  font-family: var(--font-family);
}

.label {
  color: var(--text-color);
  font-size: var(--paragraph-font-size); /* Usar el tamaño de párrafo */
}
